{% extends "core/base.html" %}
{%load widget_tweaks%}

{% block title %}
<h1>Список категорий</h1>
{% endblock %}



{% block content %}
 <form action=""  method="get">
    <!--{{ searchform }}-->
        <!--{% render_field searchform.search class+="form-control" %}-->
     <!--{% render_field searchform.search class+="select" %}-->

    <!-- <select data-placeholder="Choose a country..." multiple class="chosen-select">-->




     <select name="search" data-placeholder="Choose category" class="select">
         {% for category in categories%}
         <option>{{ category.title }}</option>
         {% endfor %}
     </select>
     <input type="submit" class="btn btn-primary" value="Search">

 </form>


{% for category in categories%}
<div class="list-group">
    <a href="{% url "categories:current_category" pk=category.pk %}" class="list-group-item ">
        <span class="glyphicon glyphicon-star"></span> {{ category.title }} <span class="badge">{{category.posts.count}} posts</span></a>

</div>
{% endfor %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}




{% endblock %}