{% extends "core/base.html" %}
{%load static%}


{% block title %}
<h1>Список блогов</h1>
{% endblock %}


{% block content %}

  {% for blog in blogs %}
 <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
       <a href="{% url "blogs:currentblog" pk=blog.pk %}" class="list-group-item ">{{ blog.title }}</a>
       <!--<div><a href="{% url "blogs:currentblog" pk=blog.pk %}">{{ blog.title }}</a></div>-->
          </div>
 </div>
    {% endfor %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{% endblock %}

<